.btn {
    margin: 5px;
    font-size: 50px;
    font-weight: bold; 
    border: 1px solid black;
    width: 80px; 
    height: 80px; 
    text-align: center;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 3px;
}

#display {
    box-shadow: inset 3px 3px 5px darkgray;
    padding: 2px;
}